div{
  width:  200px;
  height: 200px;
  background-color: blueviolet;
  transition: 0.5s;
}

.box:hover{
  width: 400px;
  height: 400px;
  background-color:gray;
}

input:focus{
  background-color: orange;
}