div{
  color:green;
}
.parent{
  width:300px;
  height:200px;
  background-color: aqua;
  border: 30px solid gray;
  border-radius: 50px 0 50px 0;
  margin: 100px 200px;
  padding: 50px 100px;
  text-align: center;
  box-sizing: border-box;
}