.container {
  width: 700px;
  height: 500px;
  background-color: powderblue;
  position: relative;
}

.container .box {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  
}