body{
  padding:100px;
}
.container{
  width: 200px;
  height: 200px;
  background-color: orange;
  perspective: 500px;
}
.container .content{
  display: flex;
  width: 200px;
  height: 200px;
  font-size:50px;
  justify-content: center;
  align-items: center;
  background-color: gray;
  transform: rotateX(80deg);
  backface-visibility: hidden;
}