h1{
  color:PaleVioletRed;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}
body{
  background-color: lightgray;
}

.grid-container{
  display:grid;
  grid-template-areas:
  "A B"
  "C D"
  "E F";
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(117, 190, 218, 0.5););
  text-align:left;
  padding: 20px 0;
  font-size: 30px;
}
.img1 { grid-area: A;}
.img2 { grid-area: C;}
.img3 { grid-area: E;}
.exp1 { grid-area: B;}
.exp2 { grid-area: D;}
.exp3 { grid-area: F;}
