a { color:black;
  text-decoration:none;}
  h1 { text-align: center;
    font-size: 50px;
    margin-bottom:0;
    margin-top:0;
    border-bottom: 1px gray solid;
    }
  ol { font-size: 50px;
    margin-left: 30px;
    border-right: 1px gray solid;
    width: 350px;
    margin-top:0;}

  #grid {
    display:grid;
    grid-template-columns: auto 1fr;
    }

  @media(max-width:720px){
    #grid {
      display:block;
      }
      ol {
        border-right: none;
      }
      h1 {
      border-bottom:none;
    }
  }
    .toggle{
     font-size: 30px;
     background-color: gray;
    }

    #Reset{
      font-size: 30px;
    }
